.icon {
	font-family: 'mf';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}

[class^="folder-mf"]:before {
    font-family: "mf";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

[class^="file-mf"]:before {
    font-family: "mf";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}
	

	.file-mf-js-medium-maroon:before {
		content: "\f129";
		color: #8f5536;
		font-size: 100%;
	}
			
	.file-mf-js-medium-red:before {
		content: "\f129";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-js-medium-yellow:before {
		content: "\f129";
		color: #f4bf75;
		font-size: 100%;
	}
			
	.file-mf-c-dark-blue:before {
		content: "\f106";
		color: #46788d;
		font-size: 93%;
	}
			
	.file-mf-sql-medium-blue:before {
		content: "\f10e";
		color: #6a9fb5;
		font-size: 100%;
	}
			
	.file-mf-x11-medium-orange:before {
		content: "\f16e";
		color: #d28445;
		font-size: 93%;
	}
			
	.file-mf-archlinux-light-yellow:before {
		content: "A";
		color: #fae0bc;
		font-size: 107%;
	}
			
	.file-mf-cpp-medium-red:before {
		content: "\f10b";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-sql-dark-blue:before {
		content: "\f10e";
		color: #46788d;
		font-size: 100%;
	}
			
	.file-mf-elixir-dark-purple:before {
		content: "\f113";
		color: #825078;
		font-size: 100%;
	}
			
	.file-mf-sql-medium-red:before {
		content: "\f10e";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-elixir-medium-purple:before {
		content: "\f113";
		color: #aa759f;
		font-size: 100%;
	}
			
	.file-mf-cpp-medium-blue:before {
		content: "\f10b";
		color: #6a9fb5;
		font-size: 100%;
	}
			
	.file-mf-c-medium-purple:before {
		content: "\f106";
		color: #aa759f;
		font-size: 93%;
	}
			
	.file-mf-debian-dark-cyan:before {
		content: "\f111";
		color: #4d9085;
		font-size: 100%;
	}
			
	.file-mf-csharp-medium-blue:before {
		content: "\f10c";
		color: #6a9fb5;
		font-size: 100%;
	}
			
	.file-mf-c-medium-green:before {
		content: "\f106";
		color: #90a959;
		font-size: 93%;
	}
			
	.file-mf-sql-dark-red:before {
		content: "\f10e";
		color: #be2f31;
		font-size: 100%;
	}
			
	.file-mf-scala-medium-red:before {
		content: "\f154";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-sql-medium-cyan:before {
		content: "\f10e";
		color: #75b5aa;
		font-size: 100%;
	}
			
	.file-mf-cpp-medium-orange:before {
		content: "\f10b";
		color: #d28445;
		font-size: 100%;
	}
			
	.file-mf-cpp-medium-purple:before {
		content: "\f10b";
		color: #aa759f;
		font-size: 100%;
	}
			
	.file-mf-haskell-dark-blue:before {
		content: "\f121";
		color: #46788d;
		font-size: 114%;
	}
			
	.file-mf-c-medium-maroon:before {
		content: "\f106";
		color: #8f5536;
		font-size: 93%;
	}
			
	.file-mf-js-medium-blue:before {
		content: "\f129";
		color: #6a9fb5;
		font-size: 100%;
	}
			
	.file-mf-sql-medium-orange:before {
		content: "\f10e";
		color: #d28445;
		font-size: 100%;
	}
			
	.file-mf-python-medium-green:before {
		content: "\f14c";
		color: #90a959;
		font-size: 100%;
	}
			
	.file-mf-python-dark-blue:before {
		content: "\f14c";
		color: #46788d;
		font-size: 100%;
	}
			
	.file-mf-python-medium-yellow:before {
		content: "\f14c";
		color: #f4bf75;
		font-size: 100%;
	}
			
	.file-mf-haskell-medium-maroon:before {
		content: "\f121";
		color: #8f5536;
		font-size: 114%;
	}
			
	.file-mf-osx-medium-red:before {
		content: "\f141";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-python-medium-maroon:before {
		content: "\f14c";
		color: #8f5536;
		font-size: 100%;
	}
			
	.file-mf-sql-medium-purple:before {
		content: "\f10e";
		color: #aa759f;
		font-size: 100%;
	}
			
	.file-mf-svg-dark-yellow:before {
		content: "\f15c";
		color: #ee9e2e;
		font-size: 100%;
	}
			
	.file-mf-apache-medium-green:before {
		content: "\f102";
		color: #90a959;
		font-size: 107%;
	}
			
	.file-mf-c-medium-cyan:before {
		content: "\f106";
		color: #75b5aa;
		font-size: 93%;
	}
			
	.file-mf-js-medium-purple:before {
		content: "\f129";
		color: #aa759f;
		font-size: 100%;
	}
			
	.file-mf-haskell-medium-purple:before {
		content: "\f121";
		color: #aa759f;
		font-size: 114%;
	}
			
	.file-mf-js-medium-green:before {
		content: "\f129";
		color: #90a959;
		font-size: 100%;
	}
			
	.file-mf-python-medium-blue:before {
		content: "\f14c";
		color: #6a9fb5;
		font-size: 100%;
	}
			
	.file-mf-red-hat-medium-red:before {
		content: "\f14e";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-python-dark-green:before {
		content: "\f14c";
		color: #66783e;
		font-size: 100%;
	}
			
	.file-mf-js-medium-cyan:before {
		content: "\f129";
		color: #75b5aa;
		font-size: 100%;
	}
			
	.file-mf-haskell-dark-purple:before {
		content: "\f121";
		color: #825078;
		font-size: 114%;
	}
			
	.file-mf-objc-dark-red:before {
		content: "\f13e";
		color: #be2f31;
		font-size: 114%;
	}
			
	.file-mf-java-medium-maroon:before {
		content: "\f126";
		color: #8f5536;
		font-size: 114%;
	}
			
	.file-mf-js-dark-purple:before {
		content: "\f129";
		color: #825078;
		font-size: 100%;
	}
			
	.file-mf-python-dark-purple:before {
		content: "\f14c";
		color: #825078;
		font-size: 100%;
	}
			
	.file-mf-apache-dark-red:before {
		content: "\f102";
		color: #be2f31;
		font-size: 107%;
	}
			
	.file-mf-pgsql-dark-blue:before {
		content: "\f14a";
		color: #46788d;
		font-size: 114%;
	}
			
	.file-mf-python-medium-orange:before {
		content: "\f14c";
		color: #d28445;
		font-size: 100%;
	}
			
	.file-mf-python-medium-pink:before {
		content: "\f14c";
		color: #ff00cc;
		font-size: 100%;
	}
			
	.file-mf-scala-medium-green:before {
		content: "\f154";
		color: #90a959;
		font-size: 100%;
	}
			
	.file-mf-haskell-medium-blue:before {
		content: "\f121";
		color: #6a9fb5;
		font-size: 114%;
	}
			
	.file-mf-sql-medium-green:before {
		content: "\f10e";
		color: #90a959;
		font-size: 100%;
	}
			
	.file-mf-js-medium-orange:before {
		content: "\f129";
		color: #d28445;
		font-size: 100%;
	}
			
	.file-mf-c-medium-orange:before {
		content: "\f106";
		color: #d28445;
		font-size: 93%;
	}
			
	.file-mf-js-dark-yellow:before {
		content: "\f129";
		color: #ee9e2e;
		font-size: 100%;
	}
			
	.file-mf-msql-medium-purple:before {
		content: "\f136";
		color: #aa759f;
		font-size: 107%;
	}
			
	.file-mf-python-dark-red:before {
		content: "\f14c";
		color: #be2f31;
		font-size: 100%;
	}
			
	.file-mf-python-dark-pink:before {
		content: "\f14c";
		color: #cc00a3;
		font-size: 100%;
	}
			
	.file-mf-sql-dark-cyan:before {
		content: "\f10e";
		color: #4d9085;
		font-size: 100%;
	}
			
	.file-mf-debian-medium-red:before {
		content: "\f111";
		color: #ac4142;
		font-size: 100%;
	}
			
	.file-mf-apache-dark-green:before {
		content: "\f102";
		color: #66783e;
		font-size: 107%;
	}
			
	.file-mf-objc-dark-blue:before {
		content: "\f13e";
		color: #46788d;
		font-size: 114%;
	}
			
	.file-mf-red-hat-dark-red:before {
		content: "\f14e";
		color: #be2f31;
		font-size: 100%;
	}
			
	.file-mf-c-medium-blue:before {
		content: "\f106";
		color: #6a9fb5;
		font-size: 93%;
	}
			
	.file-mf-js-medium-pink:before {
		content: "\f129";
		color: #ff00cc;
		font-size: 100%;
	}
			
	.file-mf-java-medium-purple:before {
		content: "\f126";
		color: #aa759f;
		font-size: 114%;
	}
			
	.file-mf-elixir-light-purple:before {
		content: "\f113";
		color: #c7a4c0;
		font-size: 100%;
	}
			
	.file-mf-apache-medium-red:before {
		content: "\f102";
		color: #ac4142;
		font-size: 107%;
	}
			
	.file-mf-archlinux-dark-purple:before {
		content: "A";
		color: #825078;
		font-size: 107%;
	}
			
	.file-mf-archlinux-dark-maroon:before {
		content: "A";
		color: #7c4426;
		font-size: 107%;
	}
			
	.file-mf-python-medium-grey:before {
		content: "\f14c";
		color: #7f7f7f;
		font-size: 100%;
	}
			
	.file-mf-archlinux-dark-cyan:before {
		content: "A";
		color: #4d9085;
		font-size: 107%;
	}
			
	.file-mf-python-dark-maroon:before {
		content: "\f14c";
		color: #7c4426;
		font-size: 100%;
	}
			
	.file-mf-archlinux-dark-yellow:before {
		content: "A";
		color: #ee9e2e;
		font-size: 107%;
	}
			
	.file-mf-debian-medium-cyan:before {
		content: "\f111";
		color: #75b5aa;
		font-size: 100%;
	}
			
	.file-mf-objc-medium-blue:before {
		content: "\f13e";
		color: #6a9fb5;
		font-size: 114%;
	}
			